
services:

  frontend:
    build:
      context: .
      dockerfile: frontend.Dockerfile
    container_name: amp-frontend
    ports:
      - "3000:80"

  backend:
    build:
      context: ./app/api
      dockerfile: Dockerfile
    container_name: amp-backend
    env_file:
      - ./.env
    ports:
      - "8000:8000"

